.linkpanel {
  border-radius: 48px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 24px;
}

.linkpanel .panel-button {
  text-align: right;
}

.linkpanel .btn-outline-primary {
  border-radius: 30px;
}

