.error{
  background-color: #fcc;
  border: solid 1px red;
  border-radius: 0.25rem;
  margin-bottom: 16px;
  
  .error-space{
    margin-top: 16px;
  }
}

.container{
  .search{
    text-align: right;
  }
   .btn-light{
    border-color: #dee2e6 !important;
  }
}