
.login-or {
position: relative;
font-size: 18px;
color: #aaa;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
        
.hr-or {
background-color: #cdcdcd;
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
        
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
background-color: #fff;
width: 50px;
text-align: center;
}
        
.col-sm-4{
margin: 0 auto;
margin-top:40px;
margin-bottom:40px;
}

.col-md-6{
margin-top:40px;
margin-bottom:40px;
}

.col-md-5{
margin-top:40px;
margin-bottom:40px;       
}

.btn-primary{
min-width:100% ;          
}